fastapi
uvicorn
httpx
redis
python-dotenv
langchain-core
langchain-ollama
langchain-redis
langgraph 
langgraph-checkpoint-redis
langchain-google-genai
# Tracing
openinference-instrumentation-langchain
opentelemetry-sdk
opentelemetry-exporter-otlp
arize-phoenix
# Tracing